---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths(){
    const books = await getCollection('books');
    return books.map((book)=>({
        params:{ id: book.slug},
        props: { book}
    }))
} 

const {book} = Astro.props;
const {data} = book
const {title, author,img, description, buy} = data;

const {Content} = await render(book);
---
<Layout tile={`${title} - Dev books, libros para desarrolladores`}>
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
            <img class="rounded w-80 h-auto" src={`/${img}`} alt={title}>
            <!-- //enlace a la tienda -->
        </aside>
        <main class="max-w-3xl">
            <h1 class="font-bold text-4xl mb-4">{title}</h1>
            <div class="prose">
                <Content />
            </div>
        </main>
       
    </div>
</Layout>