---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const books = await getCollection('books');
console.log(books);

---

<Layout title="Dev books, libros para desarrolladores">
	<main>
	  <h1 class="text-center text-7xl font-extrabold mb-24">Dev
		<span class="block">Books</span>
	  </h1>
	
	<section aria-label="Libros recomendados para programadores">
	  <div class="px-4 mx-auto max-w-screen-xl">
		<div class="grid gap-6 md:grid-cols-2">
		  {books.map(book => {
			const { slug, data } = book;
			const { title, author, img, description } = data;
			return (
			  <article class="flex">
				<a href={`/libro/${slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
				<img  class="mr-5 w-48 rounded" src={`/${img}`} alt={title} class="w-full rounded-lg" />
				</a>
				<div class="flex flex-col justify-center">
				  <h2 class="text-xl font-bold">{title}</h2>
				  <p class="mb-4 text-gray-300 max-w-sm">{description}</p>
				  {/* <p class="text-gray-600">{author}</p>
				  <a href={`/books/${slug}`} class="mt-4 text-blue-600 underline">Leer más</a> */}
				</div>
			  </article>
			);
		  })}
		</div>
	  </div>
	</section>
	</Layout>